body {
  background-color: rgb(53, 50, 50);
}
header {
  display: block;
  background-color: rgb(145, 10, 10);
  max-width: 100%;
  border-radius: 30px;
  color: white;
  padding-left: 2%;
  min-height: 100px;
  display: flex;
  font-size: 30px;
  font-family: arial, sans-serif;
  justify-content: center;
}
