body {
  background-color: blueviolet;
  content-box: border-box;
}

.container {
  width: 400px;
  height: 200px;
  background-color: white;
}

.izquierda {
  width: 200px;
  height: 200px;
  background-color: green;
}
.derecha {
  width: 200px;
  height: 200px;
  background-color: black;
}
